PORT=3001
NODE_ENV=development
JWT_SECRET=nBkjhWXXkvEHGaO6RyamADXzaeohNS8ATITXm6z2B2s
DATABASE_URL=./data/app.sqlite
CORS_ORIGIN=*
SUPABASE_URL=https://luutpgkxugwfnmtlnedv.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx1dXRwZ2t4dWd3Zm5tdGxuZWR2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA0OTk3MTIsImV4cCI6MjA5NjA3NTcxMn0.ouMnEZe3ISRnBf4m7rsxV9COpeadf2kwKcKw4oTMZq0
